<h1>Log In Below To Join Us!</h1>

<p><%= flash[:error] %></p>

<%= form_for :user do |f| %>
<%= f.label :"E-mail" %>
<%= f.email_field :email %>
<br>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<br>
<%= f.submit "Log Me In!" %>
<% end %>
