<h1>Add a comment!</h1>

<%= form_for(@post,@comment) do |f| %>

    <%= f.label :post %>
    <%= f.collection_select :post_id, Post.all, :id, :title %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit %>
    <% end %>

