<h1>Create Your Account Below To Join Our Community!</h1>

<%= form_for (@user) do |f| %>
  <%= f.label :"Username:" %>
  <%= f.text_field :user_name %>
    <br>
  <%= f.label :"Password:" %>
  <%= f.password_field :password %>
    <br>
  <%= f.label :"E-mail:" %>
  <%= f.email_field :email %>
    <br>
  <%= f.label :"Your First Name:" %>
  <%= f.text_field :first_name %>
    <br>
  <%= f.label :"Your Last Name" %>
  <%= f.text_field :last_name %>
    <br>
  <%= f.label :"Person With Cloves:" %>
  <%= f.text_field :affected_person %>
    <br>
  <%= f.label :"Location (do NOT be exact please! ):" %>
  <%= f.text_field :location %>
    <br>
  <%= f.submit "Sign Up" %>

<% end %>
