<h1>Create a New Post</h1>

<%= form_for(@post) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.select :topic_id, [ 'Overgrowth of Hands/feet', 'Upper-body Affected', 'Lower-body affected', 'Lymphatic Malformations'], :prompt => 'Please Select One' %>


   

    <%= f.submit %>

<% end %>
