<h1>Create a New Post</h1>

<%= form_for(@post) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label :topic %>
    <%= f.text_field :topic %>


   

    <%= f.submit %>

<% end %>
