<h1>Create a New Post</h1>

<%= form_for(@post) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
<br>
<br>
    <%= f.label :body %>
    <%= f.text_area :body %>
<br>
<br>
    <%= f.label :topic %>
    <%= f.collection_select :topic_title, Topic.all, :title, :title %>

    <%= f.hidden_field :user_id, value: session[:user_id] %>

    <%= f.submit %>

<% end %>
